@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&family=Monoton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

:root{
    --font-logo00: 'Monoton', cursive;
    --font-logo: 'Londrina Shadow', cursive;
    --font-bebas: 'Bebas Neue', cursive;
    --font-teko: 'Teko', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    
    --cor00: #47BFFA;
    --cor01: #05132f;
    --cor02: #F2A549;    
    --cor03: #314375;
    --cor04: #292533;
    --cor05: #908cc8;
    --cor06: #ff5e4c;
    --corGr: #64FFDA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor01);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center; 
    background-color: var(--cor01);

    box-shadow: 1px 1px 8px; 

    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

}

/*Logo aqui*/
.logo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;       
}

.logo{
    font-family: var(--font-logo00);
    font-size: 4.4em;
    color: var(--cor05);
    padding-left: 80px;    
}

span{
    color: var(--cor02);
}

/*navigation*/
nav a{
    font-family: var(--font-bebas);
    font-weight: normal;
    text-decoration: none;
    color: var(--cor05);
    font-size: 1.8em;  
    margin: 0 20px; 
    transition: 0.5s;
}

nav a:hover{
    color: var(--cor02);
}

.nav-number{
    font-size: 0.7em;
    color: var(--cor03);
}

.curriculo{
    color: var(--cor03);
}

/*01.home*/

.home-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 180px 100px 0;
    height: 63vh; 
}

.home{    
    font-family: var(--font-bebas); 
    color: var(--cor03); 
    font-size: 2.5em;  
    line-height: 2.7em;   
    transition: 0.3s; 
    width: 620px;       
}

.home:hover{
    transform: translateY(-15px);
}

.descricao{
    width: 620px;    
}

.home-ola{
    color: var(--cor05); 
    line-height: 2em;   
}

h1{
    color: var(--cor00);
    font-size: 3em;
    font-weight: 100;    
}

h2{
    color: var(--cor02);
    font-size: 2.5em;
}

.descricao{
    color: var(--cor05);
    line-height: 1em;
}

.laptop{
    width: 610px;
    transition: 0.3s ease-in-out;
}

.laptop:hover{
    transform: translateY(-15px);
    
}

/*-------sobre-------*/
.about-wrapper{
    margin: 150px 100px 0;
    font-family: var(--font-roboto);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-pic{
    max-width: 240px;
    filter: grayscale(100%); 
    transition: 0.5s ease-in-out;    
}

.profile-pic:hover{
    transform: translateY(-15px) scale(105%);    
    filter: none;
}

.about{
    transition: 0.5s ease-in-out;
}

.about:hover{
    transform: translateY(-15px) scale(105%);
}

h3{
    font-family: var(--font-bebas);    
    font-weight: normal;
    font-size: 3em;
    color: var(--cor02);
}

.about-article{
    width: 560px;
    color: var(--cor05);
    text-align: left;
    line-height: 1.5em;
    margin-left: 40px;    
}

.about-article a{
    text-decoration: none;
    color: var(--cor00);
}

.about-article a:hover{
    color: var(--cor02);
}

.techs-wrapper{
    margin: 40px 100px 30px;
    /* border: 1px solid white; */
}

.techs-wrapper h3{
    margin: 0 0 10px 130px;
    font-size: 1.8em; 
    
    /* border: 1px solid white; */
}

.techs{
    /* border: 1px solid white; */

    display: flex;  
    justify-content: space-evenly; 
}

svg{
    width: 60px;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

.techs p{
    font-family: var(--font-bebas);
    font-size: 1.8em;
    color: var(--cor05);
}

.javascript{
    width: 72px;
}    

.techs div p{
    text-align: center;
}

.github{
    width: 76px;
}